.login-container{
    height: 100vh;
    background-size: cover;
    background: #fff ;


}

.color{
background: #fff;
}

.header{
  width: 100%;
  background: #699D9C;
  height: 70px;
}

.titulo{
color: white;
font-size: 30px;
font-family: Arial, sans-serif;
font-weight: bold;
text-align:center;
padding:10px;
}

.bcolor{
  background: #347675;
  color: white;
}

.bcolor:hover{
  background: #3FA8A6;
  color: white;
}

.posision{

}
